:root {
  --gradient-color: linear-gradient(90deg, #1e38a3, #021048);
  --black: black;
  --white: white;
  --blue-1: #1e38a3;
}

* {
  font-family: "Oxygen", sans-serif;
}

body {
  background-color: #eeeeee;
  color: var(--white);
}

.navbar {
  padding-left: 38px;
  background-color: var(--white);
  border-bottom: 2px solid gray;
}

.navbar-brand img {
  border-radius: 100px;
  width: 50px;
  height: 50px;
}

.nav-link {
  margin-left: 30px;
  color: var(--black);
}

.drop-down a {
  font-weight: bold;
  color: var(--black);
}

.nav-link:hover,
.dropdown-menu a:hover {
  color: var(--blue-1);
}

/* Top Button */
.top-button a {
  color: #254ff8;
  position: fixed;
  font-size: 50px;
  bottom: 30px;
  right: 30px;
}

.top-button a:hover {
  color: #1c39af;
}

/* Hero Section */
.hero-parent {
  display: flex;
  height: auto;
  padding: 50px;
  background: var(--gradient-color);
  flex-direction: row-reverse;
  justify-content: space-between;
  align-items: center;
  gap: 40px;
}

.hero-parent .development-img {
  width: 400px;
  height: 400px;
  align-items: center;
}

.hero-parent .hero-item h1 {
  font-weight: bold;
  font-size: 2.5rem;
  margin-bottom: 20px;
}

.hero-parent .hero-item p {
  font-weight: bold;
  font-size: 1.5rem;
  margin-bottom: 8px;
}

.hero-parent .hero-button-1,
.hero-button-2 {
  background-color: #f7f7f8;
  margin-right: 8px;
  margin-top: 10px;
  width: 200px;
  height: 45px;
  border: 0;
  border-radius: 8px;
}
.hero-parent .hero-button-1 a,
.hero-button-2 a {
  text-decoration: none;
  font-weight: bold;
  color: #021149;
}
.hero-parent .hero-button-2 {
  width: 150px;
}

.hero-button-1:hover,
.hero-button-2:hover {
  background-color: rgb(225, 225, 225);
  box-shadow: 0px 0px 5px 1px #f7f7f8;
}
/* About */
.about-parent .about-item {
  color: var(--black);
  font-weight: bold;
  padding: 150px 50px;
}

.about-parent .about-item h1 {
  font-weight: bold;
}
.about-parent .about-item h2 {
  font-weight: bold;
  color: var(--black);
}
.about-parent .about-item p {
  font-size: 18px;
}
/* Skills */

.skills-parent {
  padding-top: 100px;
  padding-bottom: 200px;
  height: auto;
  background: var(--gradient-color);
}

.skills-parent .skills-item h1 {
  color: var(--white);
  padding: 50px;
  font-weight: bold;
  text-align: center;
}
.skills-container {
  display: flex;
  gap: 20px;
  justify-content: center;
  flex-wrap: wrap;
}

.skills-card-1,
.skills-card-2,
.skills-card-3,
.skills-card-4 {
  width: 250px;
  height: 250px;
  border-radius: 10px;
  box-shadow: 0px 0px 5px 1px #2b4094;
  background-color: #2b4094;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
.skills-card-1 img {
  width: 100px;
  height: auto;
  margin-bottom: 27px;
}

.skills-card-2 img {
  width: 260px;
  height: auto;
  margin-bottom: 10px;
}

.skills-card-3 img {
  width: 100px;
  height: auto;
  margin-top: 18px;
}

.skills-card-4 img {
  width: 170px;
  height: auto;
}

.skills-card-1 p,
.skills-card-2 p,
.skills-card-3 p,
.skills-card-4 p {
  font-weight: bold;
  margin-top: 20px;
}
.skills-card-3 p {
  margin-top: 54px;
}
.skills-card-4 p {
  margin: 0 0 30px;
}
.skills-card-1:hover,
.skills-card-2:hover,
.skills-card-3:hover,
.skills-card-4:hover {
  width: 255px;
  height: 255px;
  box-shadow: 0px 0px 10px 5px #2752ff;
}
/* Project */
.project-parent {
  padding-top: 100px;
  padding-bottom: 150px;
}
.project-parent .project-item h1 {
  color: var(--black);
  padding: 50px;
  font-weight: bold;
  text-align: center;
}

.project-container {
  display: flex;
  gap: 20px;
  justify-content: center;
  flex-wrap: wrap;
}
.project-card-1,
.project-card-2,
.project-card-3,
.project-card-4 {
  width: 250px;
  height: 250px;
  border-radius: 10px;
  box-shadow: 0px 0px 5px 1px #2b4094;
  background-color: #2b4094;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  flex-direction: column;
  font-weight: bold;
}

.project-card-1 p,
.project-card-2 p,
.project-card-3 p,
.project-card-4 p {
  text-align: center;
  padding-left: 10px;
  padding-right: 5px;
}
.project-card-1:hover,
.project-card-2:hover,
.project-card-3:hover,
.project-card-4:hover {
  width: 255px;
  height: 255px;
  box-shadow: 0px 0px 10px 5px #001668;
}

.project-button {
  background-color: #3151cffe;
  width: 100px;
  height: 40px;
  border: 0;
  border-radius: 8px;
}
.project-button a {
  text-decoration: none;
  font-weight: bold;
  color: var(--white);
}
.project-button:hover {
  background-color: #4963cafe;
  box-shadow: 0px 0px 5px 1px #5569b8fe;
}
/* Footer */
footer {
  background: var(--gradient-color);
  padding-top: 50px;
  padding-bottom: 10px;
  color: var(--white);
}
.container {
  display: flex;
  justify-content: space-between;
}
.footer-content {
  text-align: center;
  font-weight: bold;
  font-size: 20px;
}
.footer-content h3 {
  margin: 0;
  padding-bottom: 15px;
  font-weight: bold;
}
.footer-content ul {
  padding: 0;
  list-style-type: none;
}
.footer-content a {
  text-decoration: none;
  color: var(--white);
}
.sociol-icons i {
  padding: 10px;
  font-size: 25px;
}
.sociol-icons {
  display: flex;
  flex-direction: column;
  align-items: start;
}
.bottom-footer {
  padding-left: 50px;
  font-size: small;
  font-weight: bold;
}
.footer-content a:hover {
  color: #3faffffe;
  font-size: 21px;
}
@media (max-width: 840px) {
  .hero-parent {
    width: 100%;
    flex-direction: column;
    text-align: center;
  }
  .hero-parent .hero-item h1 {
    font-style: 3rem;
  }
}

@media (max-width: 400px) {
  .hero-parent .development-img {
    width: 300px;
    height: 300px;
    align-items: center;
  }
  .bottom-footer {
    padding-left: 50px;
    font-weight: bold;
    font-size: 10px;
  }
}

@media (max-width: 1000px) {
  .top-button a {
    display: none;
  }
}
